html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.main-default {
    padding: 0;
    transition: padding-left 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, padding-right 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.main-pushed-on-left {
    padding-left: 256px;
}

.main-pushed-on-right {
    padding-right: 256px;
}

.main-default.main-pushed-on-left {
    transition: padding-left 600ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, padding-right 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.main-default.main-pushed-on-right {
    transition: padding-left 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, padding-right 600ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.main-default.main-pushed-on-left.main-pushed-on-right {
    transition: padding-left 600ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, padding-right 600ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.content-container {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.train-row-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

@media (max-width: 992px) {


    .train-row-container {
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
    }

}

.statusBoxItem {
    display : flex;
    flex-flow : column nowrap;
    overflow-x: hidden;
    flex: 1 0 100%;
    transition: all .3s;
}

.statusBox:hover>.statusBoxItem,.statusBox:focus>.statusBoxItem,.statusBox:active>.statusBoxItem {
    flex-basis: 40%;
}